body{
    
    background-color: #CBE2F6;
    text-align: center;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 70%;
}

footer {
    background-color: #450101;
	font-size: 0.7em;
	color: orange;
}

#logo{
    border: 2px solid orange;
	border-radius: 15px;
	width: 120px;
	height: auto;
}